/* Layout of the page */
.input-output {
  display: flex;
  gap: 150px;
  justify-content: center;
  margin: 45px 20px 20px 20px;
}

/* Column styles */
.column {
  width: 40%;
}

/* Headings for columns */
h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: var(--donkerblauw);
  border-radius: 5px;
  padding: 15px;
  color: white
}

/* Item styles for inputs/outputs */
.item {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 23px;
}

.item:hover {
  background-color: #f0f0f0;
}

.item i {
  font-size: 25px;
}

/* Active selection styles */
.selected {
  background-color: lightgray !important;
  border-color: gray;
}

.item.disabled {
  background-color: #e0e0e0;
  color: #b6b6b6;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: all ;
}

.disabled:hover {
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: all ;
}