.task-details {
  margin-top: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}


h1 {
  font-size: 38px;
}

p {
  font-size: 25px;
}

.model-overview-button {
  margin-top: 40px;
}

.model-overview-button p {
  font-size: 20px;
  margin-right: 10px;
}

.task-description {
  flex: 1;
}

.inference-info {
  flex-basis: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.inference-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Each row in the inference info */
.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Icon on the left */
.info-row i {
  font-size: 38px;
}

/* Text on the right */
.info-text {
  flex: 1;
  padding-left: 15px;
}

.info-text h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
}

.info-text p {
  margin: 5px 0 0;
  font-size: 25px;
  font-weight: bold;
}
