.category-header {
  margin-top: 30px;
}

/* Subtasks styling */
.subtasks {
  display: flex;
  flex-wrap: wrap; /* Allows subtasks to wrap to the next row */
  /* justify-content:space-around ; Aligns subtasks to the left and right */
  gap: 20px; /* Adds space between the subtask cards */
  margin-right: -40px;
  margin-top: 30px;
}

.subtask {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 190px;
  height: 210px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* clickable */
.subtask:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.subtask img {
  width: 45px;
  height: 45px;
  margin-bottom: -10px;
}

.subtask i {
  color: var(--logoblauw);
}

.info-icon {
  position: absolute; /* Position relative to subtask container */
  bottom: 10px; /* Distance from bottom */
  right: 10px; /* Distance from right */
  font-size: 25px;
  color: var(--hemelblauw)
}

.info-icon:hover {
  color: var(--logoblauw-1);
}

.label {
  font-size: 19px;
  margin-bottom: 10px;
  color: black;
  padding-bottom: 10px;
}

.icon {
  font-size: 26px;
  margin-bottom: 10px;
}

.summary {
  color:rgb(150, 150, 150);
  padding-bottom: 30px;
}